version: '3.8'

services:
  github-runner:
    image: myoung34/github-runner:latest
    container_name: posture-guard-runner
    restart: unless-stopped
    environment:
      - REPO_URL=https://github.com/allofdaniel/posture-guard
      - RUNNER_NAME=nas-runner
      - RUNNER_TOKEN=${RUNNER_TOKEN}
      - RUNNER_WORKDIR=/tmp/github-runner
      - LABELS=self-hosted,linux,android
      - DISABLE_AUTO_UPDATE=true
    volumes:
      - ./runner-data:/home/runner
      - ./gradle-cache:/root/.gradle
      - ./android-sdk:/opt/android-sdk
      - /var/run/docker.sock:/var/run/docker.sock
    security_opt:
      - seccomp:unconfined
